langchain
langchain_community
langchain-google-genai
python-dotenv
streamlit
langchain_experimental
sentence-transformers
langchain_chroma
langchainhub
pypdf
rapidocr-onnxruntime
pymupdf
streamlit_pdf_reader
PyPDF2
faiss-cpu
fpdf
pillow
pytesseract
tesseract
easyocr